*{
    font-family: Arial, Helvetica, sans-serif ;
}

ul{
    
   list-style-type: none;
   overflow: hidden;
   background-color: #005792;
   border-radius: 20px;
}

ul li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 12px;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.title h1{
    color:  #003272;
    margin-bottom: -20px;
}

.title h3{
    border-radius: 20%;
}

body{
    margin: auto;
    width: 50%;
}

.about{
    background-color: #DBD56E;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}


.avatar{
    float: left;
    border-radius: 50%;
    margin-left: 20px;
}

.about-text{
    display: inline-block;
    width: 70%;
    margin-left: 20px;
    font-size: 15px;
}

.projects{
    display: inline-block;
}

.projects h2{
    color: #003272;
    margin-bottom: 5px;
}

.projects hr{
    margin-bottom: 20px;
}


#project1{
    float: left; 
    width: 100%; 
    max-width: 50%; 
    font-size: 15px;
} 

#project2{
    display: inline-block; 
    width: 100%; 
    max-width: 50%; 
    font-size: 15px;
}



