*{
    font-family: Arial, Helvetica, sans-serif ;
}


ul{
    
   list-style-type: none;
   overflow: hidden;
   background-color: #005792;
   border-radius: 20px;
}

ul li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 12px;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.title h1{
    color: #00204a;
    margin-top: 5px;
    line-height: 30px;
}

.title h3{
    margin-top: 5px;
    line-height: 30px;
    background-color: ;
}

body{
    margin:auto;
    width:50%;
}

.about{
    background-color: #fdb44b;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.avatar{
    display:inline-block;
    float: left;
    border-radius: 50%;
    /* margin-top: 10px; */
    margin-left: 20px;
}

.about-text{
    display:inline-block;
    width: 70%;
    margin-left: 20px;
    font-size: 15px;
}
