*{
    font-family: Arial, Helvetica, sans-serif ;
}

ul{
   list-style-type: none;
   overflow: hidden;
   background-color: #005792;
   border-radius: 20px;
}

ul li a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
}

ul li :hover {
  background-color: #003272;
}

ul li {
    float:right;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.title h1{
    color:  #003272;
    margin-bottom: -20px;
}

.title h3{
    border-radius: 20%;
}

.contact-details{
    text-decoration: none;
    color:  #003272;
    font-size: 12px;
    background-color:#eeeeee;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.tel{
    padding: 0px 0px 0px 50px;
}

.contact-details:hover{
    text-decoration: none;
    color: #005792;
}

body{
    margin: auto;
    width: 50%;
}

.about{
    background-color: #DBD56E;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.avatar{
    float: left;
    border-radius: 50%;
    margin-left: 20px;
}

.about-text{
    display: inline-block;
    width: 70%;
    margin-left: 20px;
    font-size: 15px;
}

.projects{
    display: inline-block;
}

.project-example a{
   text-decoration: none;
   color: #003272;
}

.project-example a:hover{
   color: #005792;
}

h2{
    color: #003272;
    margin-bottom: 5px;
}

.projects hr{
    margin-bottom: 20px;
}

#project1{
    float: left; 
    width: 100%; 
    max-width: 50%; 
    font-size: 15px;
} 

#project2{
    display: inline-block; 
    width: 100%; 
    max-width: 50%; 
    font-size: 15px;
}

form{
    background-color: rgb(45, 131, 131);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    color:azure;
}

.copyright{
    font-size: 10px;
}

